*{
      box-sizing: border-box;
    }
body{
       background:white;
       margin: 0;
       padding:0;
       min-height: 100vh;
       display: flex;
       flex-direction: column;
    }
 h1{
       color: purple;
       font-size: 45px;
       text-align: center;
     }
 h2{
       font-size: 35px;
     }
    img{
       width:100%;
       height: auto;
    }
 .menu{
       background-color: purple;
       margin: 0;
    }
 .menu a{
       color:white;
       padding: 15px 15px;
       text-decoration: none;
       display: inline-block;
    }
footer{
  background: purple;
      color: white
      width: 100%;
      margin-top: auto;
    }
.footer-bottom {
      border-top: 1px solid white;
      padding-top: 14px;
      font-size: 11px;
      color: white;
}